# imports

In [3]:
import pandas as pd

# load data

In [9]:
mal_pcap1 = r"C:\Users\edenm\Documents\GitHub\VoIP-Research\Data\proccesed and tagged external datasets\RTP Flood records\malicious recordings\RTP_A_Host_Attacker\rtp.0.0.csv"
mal_pcap2 = r"C:\Users\edenm\Documents\GitHub\VoIP-Research\Data\proccesed and tagged external datasets\RTP Flood records\malicious recordings\RTP_B_Host_Attacker\rtp.0.1.csv"

In [10]:
mal_pcap1 = pd.read_csv(mal_pcap1)
mal_pcap2 = pd.read_csv(mal_pcap2)

In [11]:
mal_pcap1

       No.        Time        Source  Destination Protocol  Length  Info
0        1    0.000000  172.168.1.44  10.10.10.22      UDP     214   NaN
1        2    0.020216  172.168.1.44  10.10.10.22      UDP     214   NaN
2        3    0.040524  172.168.1.44  10.10.10.22      UDP     214   NaN
3        4    0.060748  172.168.1.44  10.10.10.22      UDP     214   NaN
4        5    0.080975  172.168.1.44  10.10.10.22      UDP     214   NaN
...    ...         ...           ...          ...      ...     ...   ...
9990  9991  201.623152  172.168.1.44  10.10.10.22      UDP     214   NaN
9991  9992  201.643310  172.168.1.44  10.10.10.22      UDP     214   NaN
9992  9993  201.663501  172.168.1.44  10.10.10.22      UDP     214   NaN
9993  9994  201.683663  172.168.1.44  10.10.10.22      UDP     214   NaN
9994  9995  201.703810  172.168.1.44  10.10.10.22      UDP     214   NaN

[9995 rows x 7 columns]

In [12]:
mal_pcap2

       No.        Time        Source  Destination Protocol  Length  Info
0        1    0.000000  172.168.1.44  10.10.10.38      UDP     214   NaN
1        2    0.020185  172.168.1.44  10.10.10.38      UDP     214   NaN
2        3    0.040379  172.168.1.44  10.10.10.38      UDP     214   NaN
3        4    0.060614  172.168.1.44  10.10.10.38      UDP     214   NaN
4        5    0.080829  172.168.1.44  10.10.10.38      UDP     214   NaN
...    ...         ...           ...          ...      ...     ...   ...
9990  9991  201.629861  172.168.1.44  10.10.10.38      UDP     214   NaN
9991  9992  201.650034  172.168.1.44  10.10.10.38      UDP     214   NaN
9992  9993  201.670214  172.168.1.44  10.10.10.38      UDP     214   NaN
9993  9994  201.690399  172.168.1.44  10.10.10.38      UDP     214   NaN
9994  9995  201.710568  172.168.1.44  10.10.10.38      UDP     214   NaN

[9995 rows x 7 columns]

In [16]:
from scapy.utils import PcapReader

In [19]:
pcap = PcapReader.read_packet(r"C:\Users\edenm\Documents\GitHub\VoIP-Research\Data\proccesed and tagged external datasets\RTP Flood records\malicious recordings\RTP_B_Host_Attacker\rtp.0.1.pcap")

TypeError: super(type, obj): obj must be an instance or subtype of type